.sortComponent {
  width: 35%;
}

.productCategoryButton {
  width: 100%;
  text-align: left;
  display: block !important;
}

.productCategoryDiv {
  margin: 10px 0;
}

.active{
    background-color: #87B5E3 !important;
    color: #fff !important;
}

.active:hover{
    background-color: #87B5E3 !important;
}