.logOutComponent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logOutComponent div{
    margin: 0 10px;
}

.loginComponent{
    display: flex;
    align-items: center;
}